@font-face {
  font-family: "AvenirRegular";
  src: url("../fonts/avenir/AvenirNextLTPro-Regular.otf");
}
@font-face {
  font-family: "AvenirBold";
  src: url("../fonts/avenir/AvenirNextLTPro-Bold.otf");
}
@font-face {
  font-family: "AvenirIt";
  src: url("../fonts/avenir/AvenirNextLTPro-It.otf");
}