.work-page {
  height: 100vh;
  background: $darker-gray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: $darker-gray;
  padding: 40px;
  .title {
    font-size: 60px;
    color: $primary-color;
    font-weight: bold;
  }
  .slides {
    display: flex;
    flex-wrap: nowrap;
    width: 10000px;
    transform: translateX(-300px);
    transition: transform 0.5s;
    .slide {
      background: #ffffff;
      text-align: center;
      margin-left: 40px;
      width: 500px;
    }
  }
}
